body {
     background-color:#fff;
     margin: 20px;
     display: grid;
}
 .navbar{
     display: grid;
     justify-content: center;
     width: 100%;
     margin: 0;
     padding: 0;
}
 .Homebanner{
     display: grid;
     height: 300px;
     color: red;
     margin-top: 25px;
     margin-bottom: 30px;
     background-color: #ff0000
}
 .Aboutbanner{
     display: grid;
     height: 300px;
     color: red;
     margin-top: 25px;
     margin-bottom: 30px;
     background-color: #ff0000
}
 .Worksbanner{
     display: grid;
     height: 300px;
     color: red;
     margin-top: 25px;
     margin-bottom: 30px;
     background-color: #ff0000
}
 .Contactbanner{
     display: grid;
     height: 300px;
     color: red;
     margin-top: 25px;
     margin-bottom: 30px;
     background-color: #ff0000
}
 .bannertext {
     display: grid;
     height: 210px;
     color: white;
     text-align: center;
     align-items: center;
     font-size: 35px;
}
 .bio {
     display: grid;
     width: 500px;
     justify-content: center;
     text-align: center;
}
 .contactpagestuff {
     display: grid;
     width: 100%;
     justify-content: center;
}
 .contactform {
     display: grid;
     width: 100%;
     justify-content: center;
}
 button{
     margin-top: 25px;
}
/*button {
     background-color: rgb(154,205,50);
     border: none;
     color: black;
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
}
